body {
  font-family: "Poppins",sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
background-color: #f5e6e6;;
}


.heroHeader{
  color: #594545;
  font-size: 5rem;
  font-weight: 800;
}

.heroText{
  color: #746767;
  margin-top: 10rem;
}

.heroImage{
  margin-top: 5rem;
}

.heroBtn{
font-size: 1.2rem;

}


.btn-primary {
  background-color: #594545;
  border: #594545;
  color: #f3eded;
}



.btn-outline-primary {
  background-color: #f3eded;
  border-color:  #594545;
  color: #594545;
}




.btn-primary:hover {
  background-color: #594545;;
}


.btn-outline-primary:hover {
  background-color: #594545;
  border-color: #594545;
}